/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu_container {
  background-color: pink;
  border: 1px solid black;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 2, 0, 0.22);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: transform 0.2s ease;
}

.menu_container:hover {
  transform: translateY(-4px);
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: base;
  gap: 2rem;
  margin-bottom: 2rem;
}

.menu_container h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.menu_container p {
  font-size: 0.9rem;
  font-weight: 700;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit), minmax(250px, 1fr);
  gap: 1.5rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100sch;
}

/*     <div className="menu_container">
      <h2 className="tittel">{tittel}</h2>
      <p className="pris">{pris}</p>
      <p className="ingredienser">{ingredienser}</p>
      <p className="kategori">{kategori}</p> */
