/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu_container {
  background-color: pink;
  border: 1px solid black;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: transform 0.2s ease;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit), minmax(250px, 1fr);
  gap: 1.5rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100sch;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
